
[Unit]
Description=Light contol service
After=network.target

[Service]
Type=simple
User=ralph
WorkingDirectory=/home/ralph
ExecStart=python /home/ralph/Lichtsteuerung/newui.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
